/* style.css */
body {
  font-family: Josefin Sans;
  color: rgb(30,30,30);
  font-size: 18px;
}

h1, h2, h3 {
  font-family: Bebas Neue;
}


p {
	font-family: Josefin Sans;
}

a {
  color: rgb(240,240,240);
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #ADD899;
}/* Write some CSS below */

.container {
	max-width: 1200px;
	margin: auto;
	text-align: center;
	padding: 20px;
}

.container h2 {
	font-size: 36px
}

.banner {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('images/capy-background2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	padding: 180px 0;
	text-align: center;
}

.banner h1 {
	color: white;
	font-size: 60px;
	margin: 0;
}

.button-pink {
	background-color: #F075AA;
	color: white;
	padding: 16px 48px;
	border-radius: 6px;
	display: inline-flex;
	transition: .3s;
	margin: 16px;
}

.banner p {
	color: white;
	font-size: 22px;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
	justify-content: center;
}

.card-white {
	background: white;
	box-shadow: 0 0 16px rgba(0,0,0,0.1);
	border-radius: 6px;
	width: 300px;
	text-align: center;
	padding: 24px;
	margin: 8px;
}

.card-white img {
	width:180px;
	height: 180px;
	object-fit: cover;
	border-radius: 6px;
}

.card-white h3 {
	font-size: 48px;
}

.footer {
	background: rgba(30,30,30,0.7);
	padding: 24px 0;
}

.footer p {
	color: white;
	font-size: 20px;
	margin: 5px 26px;
}

/* Cards media queries */

@media (max-width: 1080px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-white {
    width: auto;
  }
}

/* Container media queries */
@media (max-width: 500px) {
  .container {
    padding: 10px;
  }
}